swagger: '2.0'
info:
  description: >-
    Signalbot API schema, more information at
    [SignalBot](http://github.com/mcliff1/SignalBot)
  version: 1.0.0
  title: Signal Bot API Schema
  contact:
    email: matt@denvercliffs.com
host: bot-api.mattcliff.net
basePath: /dev
schemes:
  - https
tags:
  - name: bot
    description: Metrics to post and retrieve
paths:
  '/api/metrics/{bottype}':
    get:
      tags:
        - bot
      summary: retrieves bot data
      responses:
        '200':
          description: operation successful
          schema:
            type: array
            items:
              $ref: '#/definitions/Bot'
        '405':
          description: Invalid Input
      parameters:
        - name: bottype
          in: path
          type: string
          description: type of sensor bot
          required: true
          enum:
            - soil
            - aqua
            - cure
            - light
            - gas
        - name: deviceid
          in: query
          description: the device id to get a full report on
          required: false
          type: string
        - name: startdate
          in: query
          description: if included with deviceid will get records since this date (yyyy-mm-dd)
          required: false
          type: string
    post:
      tags:
        - bot
      summary: log a reading for sensor bot
      description: does the post operation with JSON payload in the body
      operationId: postSoil
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: bottype
          in: path
          type: string
          required: true
          description: type of sensor bot
          enum:
            - soil
            - aqua
            - cure
            - light
            - gas
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Bot'
      responses:
        '200':
          description: operation successful
        '405':
          description: Invalid Input
definitions:
  Bot:
    type: object
    properties:
      deviceid:
        type: string
        required: true
      bottype:
        type: string
        required: true
      battery:
        type: double
        required: false
      volts:
        type: double
        required: false
externalDocs:
  description: Find out more about SignalBot
  url: https://github.com/mcliff1/SignalBot
